<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EquMicroProtectionDeviceMapper">
	
	<!--表名 -->
	<sql id="tableName">
		EQU_MICRO_PROTECTION_DEVICE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ID,	
		ELECTRICAL_ROOM_ID,	
		EQUIPMENT_NAME,	
		EQUIPMENT_VERSION,	
		BRAND,	
		MAKE_TIME,	
		MANUFACTURER,	
		SUPPLY_VOLTAGE,	
		CREATOR,	
		CREATE_TIME,	
		UPDATER,	
		UPDATE_TIME,	
		DELETED
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ELECTRICAL_ROOM_ID},	
		#{EQUIPMENT_NAME},	
		#{EQUIPMENT_VERSION},	
		#{BRAND},	
		#{MAKE_TIME},	
		#{MANUFACTURER},	
		#{SUPPLY_VOLTAGE},	
		#{CREATOR},	
		#{CREATE_TIME},	
		#{UPDATER},	
		#{UPDATE_TIME},	
		#{DELETED}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		ELECTRICAL_ROOM_ID,
		EQUIPMENT_NAME,
		EQUIPMENT_VERSION,
		BRAND,
		MAKE_TIME,
		MANUFACTURER,
		SUPPLY_VOLTAGE,
		CREATOR,
		CREATE_TIME,
		UPDATER,
		UPDATE_TIME,
		DELETED
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ELECTRICAL_ROOM_ID = #{ELECTRICAL_ROOM_ID},
			EQUIPMENT_NAME = #{EQUIPMENT_NAME},
			EQUIPMENT_VERSION = #{EQUIPMENT_VERSION},
			BRAND = #{BRAND},
			MAKE_TIME = #{MAKE_TIME},
			MANUFACTURER = #{MANUFACTURER},
			SUPPLY_VOLTAGE = #{SUPPLY_VOLTAGE},
		    UPDATER = #{UPDATER},
		    UPDATE_TIME = #{UPDATE_TIME}
		where 
		ID = #{ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ID = #{ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			mpd.ID,
			mpd.EQUIPMENT_NAME,
			mpd.EQUIPMENT_VERSION,
			mpd.BRAND,
			mpd.MAKE_TIME,
			mpd.MANUFACTURER,
			mpd.SUPPLY_VOLTAGE
		    ,r.ELECTRICAL_ROOM_NAME
		from
		  EQU_MICRO_PROTECTION_DEVICE mpd
		left join ELECTRICAL_ROOM r on mpd.ELECTRICAL_ROOM_ID=r.ROOM_ID

		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
			        mpd.EQUIPMENT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
		order by mpd.UPDATE_TIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>